#click-more-plans {
  display: none;
}

#click-previous-plans {
  display: none;
}


.nav { 
  background-color: #e9de4a;
}

.nav, a{
  color: #ffffff
}

select{
  background-color: white;
  padding: 8px 25px;
  text-align: center;
  border: none;
  width: auto;
}

