
html, body {
  /* margin: 0; */
  height: 100%;
  overflow: hidden; 
  /* overflow-x: hidden; */
} 

#click-more-plans {
  display: none;
}

#click-previous-plans {
  display: none;
}

#display-plans-div {
  display: none;
}

#floating-panel {
  display: none;
}

h1, h2, h3 {
  color: #a9646a;
}

p, a {
  color: #3b1919 !important;
}


a:hover {
  color: #e2d13a !important;
}

i {
  padding-right: 10px;
  color: #f0cccc;
}

.user-info {
  width: 78%;
  border: 1px solid #a0a0a0;
  padding: 10px 15px;
  margin: 0 0 10px 0;
}


.menu { 
  background-color: #e7e569;
}

.menu a:hover {
  color: #dcaeaf !important;
}

.inner-border {
  border: 1px solid #e7e569;
  background-color: #ffffff;
  opacity: 90%;
  padding: 15px;
}

.button.hollow {
  border-color: #e7e569;
  color: #55575e;
}

.button.hollow:hover {
  border-color: #dcaeaf !important;
  color: #d3d3d3 !important;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
  color: #ffffff !important;
  background: #f0cccc;
}

.grid-container-padded {
  height: 100%;
}

.background-img {
  background-image: url("/static/img/pexels-homepage.jpeg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

.align-center-middle {
  height: 100%;
  vertical-align: middle;
}

.indiv-plan {
  flex: 0 0 auto;
  margin: 15px;
}
.all-plans {
  display: flex;
  flex-wrap: nowrap;
  /* overflow-x: auto; */
}


th {
  background: #faf8e2;
  color: #363641;
  white-space: nowrap;
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 90%;
  border: 5px solid #ffffff;
}

thead th{
  text-align: center !important;
}

/* table save plans checkbox */
.form-check {
  text-align: center;
}

#plan-id-options {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: .5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px #0a0a0a1a;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
}


/* datalist {
  width: 100%;
  height: 2.4375rem;
 
} */