#click-more-plans {
  display: none;
}

#click-previous-plans {
  display: none;
}

#display-plans-div {
  display: none;
}

#floating-panel {
  display: none;
}

.menu { 
  background-color: #e9de4a;
  color: #ffffff;
}


.button.hollow {
  border-color: #e9de4a;
  color: #87898f;
}

h1, h2, h3, p {
  color: #55575e;
}

a{
  color: #ffffff
}


select{
  background-color: white;
  padding: 8px 25px;
  text-align: center;
  border: none;
  width: auto;
}

.center {
  padding: 100px;
  border: solid;
}