
html, body {
  /* margin: 0; */
  height: 100%;
  overflow: hidden; 
  /* overflow-x: hidden; */
} 

#click-more-plans {
  display: none;
}

#click-previous-plans {
  display: none;
}

#display-plans-div {
  display: none;
}

#floating-panel {
  display: none;
}

h1, h2, h3, p, a {
  color: #70737e !important;
}

a:hover {
  color: #e2d13a !important;
}

i {
  padding-right: 10px;
}

.user-info {
  width: 78%;
  border: 1px solid #a0a0a0;
  padding: 10px 15px;
  margin: 0 0 10px 0;
}


.menu { 
  background-color: #f0ee70;
}

.menu a:hover {
  color: #ffffff;
}

.inner-border {
  border: 1px solid #f0ee70;
  background-color: #ffffff;
  opacity: 90%;
  padding: 15px;
}

.button.hollow {
  border-color: #f0ee70;
  color: #55575e;
}

.button.hollow:hover {
  border-color: #d1c3df !important;
  color: #d3d3d3 !important;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
  color: #ffffff !important;
  background: #d1c3df;
}

.grid-container-padded {
  height: 100%;
}

.background-img {
  background-image: url("/static/img/pexels-homepage.jpeg");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

.align-center-middle {
  height: 100%;
  vertical-align: middle;
}

.indiv-plan {
  display: inline-block !important;
  margin-right: 15px;
  overflow: hidden;


}

/* .all-plans {
  overflow-x: scroll;
  /* overflow-y: scroll; 
} */

#display-plans-div {
  overflow-y: auto;
  /* overflow-x: auto; */

}

th {
  background: #faf8e2;
  color: #363641;
  white-space: nowrap;
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 90%;
  border: 5px solid #ffffff;
}

thead th{
  text-align: center !important;
  /* background: #d1c3df; */
}

/* table save plans checkbox */
.form-check {
  text-align: center;
}