<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{% block title %}{% endblock %}</title>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <!-- Compressed JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" 
  integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" 
  crossorigin="anonymous"></script>
    
  <!-- Compressed CSS Foundation-->
  <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css" 
        integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==" 
        crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap" rel="stylesheet">
  {% block script %}
  {% endblock %}
</head>
  <body>
    {% if user_id is defined %}
    <div data-sticky-container>
      <div class="menu-bar" data-sticky data-options="marginTop:0;" 
                                     style="width:100%;">
                                     
        <div class="grid-x padding-x" style="width:100%;">
          <div class="cell small-3">
            <ul class="menu align-left">
              <li class="nav-item">
                <img src="/static/img/logo.png" id="logo-img">
              </li>
            </ul>
          </div>
          <div class="cell small-6">
            <ul class="menu align-center">

              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search_plans">Search Plans</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/get_providers">Search Providers</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  

    {% block content %}
    {% endblock %}
    <!-- <div class="grid-x grid-padding-x">
      <div class="cell medium-12 medium-cell-block"> 
        <div class="fixed-footer">
          <div class="container">What's your CARE? Copyright &copy; 2020</div>        
        </div>
      </div>
    </div> -->
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

