{% extends 'base.html' %}
{% block title %}
  What's My Care?
{% endblock %}


{% block js %}
<script src="/static/js/script.js"></script>
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="grid-x grid-padding-x align-center-middle text-center">
    <div class="cell medium-6">
      <h1>What's My Care</h1>
      <p>
        Find a suitable health care that fits your needs without the stress!
      </p>

      <a href="/login" class="hollow button">Login</a>
      <a href="/register" class="hollow button">Register</a>
    </div>    
  </div>  
</div>




{% endblock %}
