{% extends 'base.html' %}

{% block title %}
  Login
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/static/js/script.js""></script>
{% endblock %}

{% block content %}
<div class="grid-container-padded background-img">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell small-4 inner-border">
      <h2>Login</h2>
      <form action="/login" id="get-login" method="POST">
        <label>
          Email
          <input type="email" name="email" required="required">
        </label>
        
        <label>
          Password
          <input type="password" name="password" required="required">
        </label>
        
        <button type="submit" class="hollow button">Login</button>
      </form>
    </div>
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% for message in messages %}
    <div class="alert alert-warning">{{ message }}</div>
  {% endfor %}
{% endwith %}

{% endblock %}
