{% extends 'base.html' %}

{% block title %}
  Register
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/static/js/script.js""></script>
{% endblock %}

{% block content %}
<div class="grid-container-padded background-img">
  <div class="grid-x grid-margin-x align-center-middle">
    <div class="cell small-4 inner-border">
      <h1>Register here</h1>
      <form action="/register" id="register-user" method="POST">
      <label>
        Email
        <input type="email" name="email" required="required">
      </label>

      <label>
        Password
        <input type="password" name="password" required="required">
      </label>

      <label>
        Zip Code
        <input type="text" name="zipcode" required="required">
      </label>

      <label>
        Market
        <select name="market" required="required">
          <option value=""> --Please select an option-- </option>
          <option value="individual">Individual</option>
          <option value="small_group">Small Group</option>
        </select>
      </label>
    <button type="submit" class="hollow button">Register</button>
  </form>
</div>
</div>
</div>

{% with messages = get_flashed_messages() %}
  {% for message in messages %}
    <div class="alert alert-warning">{{ message }}</div>
  {% endfor %}
{% endwith %}

{% endblock %}

