{% extends 'base.html' %}

{% block title %}
  Your Plans
{% endblock %}


{% block content %}
<div class="container">
  <h2>Your Saved Plans</h2>
</div>

<div class="container" id="saved-plans">
  {% for plan in plans %}
  <div class="sub-container"> 
    <table class="table table-condensed table-hover table-sm" style="border-collapse:collapse;"
           id="table-{{ plan.vericred_id }}"> 
      <thead> 
        <tr> 
          <th scope="col" id="display-name" style="text-align:center">{{ plan.name }}</th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr> 
          <th scope="row">Plan ID</th> 
          <td>{{ plan.vericred_id }}</td>
        </tr> 
        <tr>
          <th scope="row">Carrier</th>
          <td>{{ plan.carrier.name }}</td>
        </tr>
        <tr>
          <th scope="row">Plan Type</th>
          <td>{{ plan.plan_org }}</td>
        </tr>
        <tr data-toggle="collapse" data-target="#pc_id-{{ plan.pc_id }}" 
                                   class="accordion-toggle"
                                   aria-expanded="false" 
                                   aria-controls="pc_id-{{ plan.pc_id }}">
        <td>
          <button class="btn btn-link">
            View More Information
          </button>
        </td>
          </tr>
          <tr>
            <td colspan="2" class="hiddenRow">
              <div class="accordian-body collapse" id="pc_id-{{ plan.pc_id }}">
                <table>
                  <tbody>
                    <tr>
                      <th scope="row">Primary Care Physician</th>
                      <td>{{ plan.p_cov.pcp }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Specialist</th>
                      <td>{{ plan.p_cov.specialist }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Emergency Room</th>
                      <td>{{ plan.p_cov.emerg_rm }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="sub-container">
      <button type="remove-plan" class="remove-plan"
              id="{{ plan.vericred_id }}">Remove Plan</button>
    </div>
  {% endfor %}
</div>

<br>

<div class="container">
  <h2>Find Providers</h2>
  <p>
    Fill in the form below to find providers within your location that accepts 
    your saved plans. 
  </p>
</div>
<div class="container">
  <form action="/user-{{ user_id }}/saved_plans" method="GET" id="provider-form">
    <div class="sub-container">
      <label>Zip Code</label>
        <input type="zipcode" name="zipcode">
    </div>

    <div class="sub-container">
      <label>* Radius</label>
      <select name="radius" required class="form-control">
        <option value=""> --Set your radius-- </option>
        <option value="5">5 miles</option>
        <option value="10">10 miles</option>
        <option value="15">15 miles</option>
        <option value="20">20 miles</option>
        <option value="25">25 miles</option>
        <option value="30">30 miles</option>
        <option value="35">35 miles</option>
      </select>
    </div>

    <div class="sub-container">
      <label>* Plan Id</label>
        <input type="plan-id" name="plan_id" required class="form-control">
    </div>

    <input type="submit" value="Find Provider" id="find-provider-btn">
  </form>
</div>


{% endblock %}
