{% extends 'base.html' %}

{% block title %}
  Your Plans
{% endblock %}



{% block content %}
<div class="container">
  <h1>See your saved plans below:</h1>
</div>

<div class="container" id="saved-plans">
  {% for plan in pc_list %}
  <div class="sub-container"> 
    <table class="table table-condensed table-hover table-sm" style="border-collapse:collapse;"> 
      <thead> 
        <tr> 
          <th scope="col" id="display-name" style="text-align:center">{{ plan.plan.name }}</th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr> 
          <th scope="row">Plan ID</th> 
          <td>{{ plan.plan.vericred_id }}</td>
        </tr> 
        <tr>
          <th scope="row">Carrier</th>
          <td>{{ plan.plan.carrier.name }}</td>
        </tr>
        <tr>
          <th scope="row">Plan Type</th>
          <td>{{ plan.plan.plan_org }}</td>
        </tr>
        <tr data-toggle="collapse" data-target="#pc_id-{{ plan.pc_id }}" 
                                   class="accordion-toggle"
                                   aria-expanded="false" 
                                   aria-controls="pc_id-{{ plan.pc_id }}">
        <td>
          <button class="btn btn-link">
            View More Information
          </button>
        </td>
          </tr>
          <tr>
            <td colspan="2" class="hiddenRow">
              <div class="accordian-body collapse" id="pc_id-{{ plan.pc_id }}">
                <table>
                  <tbody>
                    <tr>
                      <th scope="row">Primary Care Physician</th>
                      <td>{{ plan.pcp }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Specialist</th>
                      <td>{{ plan.specialist }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Emergency Room</th>
                      <td>{{ plan.emerg_rm }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="sub-container">
      <button type="remove-plan" class="remove-plan"
              id="{{ plan.plan.vericred_id }}">Remove Plan</button>
    </div>
  {% endfor %}
</div>



{% endblock %}
