{% extends 'base.html' %}

{% block title %}
  Search Providers
{% endblock %}

{% block script %}
<link rel="stylesheet" href="/static/css/maps.css"/>
{% endblock %}


{% block content %}

<div class="grid-y medium-grid-frame">
  <div class="grid-x grid-padding-x">
    <div class="cell medium-12 medium-cell-block"> 
      <h2>Find Providers</h2>
      <p>
        Fill in the form below to find providers within your location that accepts 
        your saved plans. 
      </p>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell medium-12 medium-cell-block"> 
      <!-- form to generate qualifying providers for user -->
      <form action="/show_providers.json" method="GET" id="provider-form">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-3 medium-cell-block"> 
            <label>
              Plan Id
            <!-- <p>
              Select from your saved plans or manually input plan id if you would like to find providers outside of 
              your saved plans.
            </p> -->
            <input list="plan-id" 
                  id="plan-id-options" 
                  name="plan-id-options"
                  placeholder="Select or manually input your Plan Id"/>
            <datalist id="plan-id">
              <option value=""> --Please select a plan-- </option>
              {% for plan in plans %}
                <option value="{{ plan.plan.vericred_id }}">{{ plan.plan.vericred_id }}</option>
              {% endfor %}
            </datalist>
            </label>
          </div>

          <div class="cell medium-3 medium-cell-block"> 
            <label>
              Zip Code
            <!-- <p>
              Input location of your choice, otherwise it will default to your 
              registered zip code.
            </p> -->
            <input type="text" name="zipcode">
            </label>
          </div>

          <div class="cell medium-3 medium-cell-block"> 
            <label>
              * Radius
            <select name="radius" required class="form-control">
              <option value=""> --Set your radius-- </option>
              <option value="5">5 miles</option>
              <option value="10">10 miles</option>
              <option value="15">15 miles</option>
              <option value="20">20 miles</option>
              <option value="25">25 miles</option>
              <option value="30">30 miles</option>
              <option value="35">35 miles</option>
            </select>
            </label>
          </div>

          <div class="cell medium-3 medium-cell-block"> 
            <label>
              Choose Type of Provider
              <select name="provider-type">
                <option value=""> --Please select provider type-- </option>
                <option value="individual">Individual</option>
                <option value="organization">Organization</option>
              </select>
            </label>
          </div>
        </div>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-8 medium-cell-block"> 
            <label>
              Additional Search
              <p>
                To find a specific provider or specialty, input their name or general 
                practice. 
              </p>
              <input type="text" name="search-term" 
                    placeholder="ex: Jane Doe ankle, for a podiatrist named Jane Doe">
            </label>
          </div>
        </div>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-12 medium-cell-block"> 
            <button type="submit" class="hollow button">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="cell medium-8 medium-cell-block-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6 medium-cell-block-y">  
        <ul class="accordion" 
            data-accordion data-allow-all-closed="true"
            data-multi-expand="true" 
            id="display-providers">        
        </ul>
      </div>

      <div class="cell medium-6" id="floating-panel">  
        <div id="map"></div>
        <div class="grid-x grid-padding-x align-spaced">
          <div class="cell medium-6">  
            <button id="btn-hide-markers" class="hollow button" name="hide-markers">
              Hide Markers
            </button>
            
            <button id="btn-show-markers" class="hollow button" name="show-all-markers">
              Show All Markers
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/providers.js"></script>
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmpbfdJDia6GATlzcxC_8oo9Ju2L5hzWI&">
</script>

{% endblock %}
