{% extends 'base.html' %}

{% block title %}
  Search Providers
{% endblock %}

{% block script %}
<link rel="stylesheet" href="/static/css/maps.css"/>
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmpbfdJDia6GATlzcxC_8oo9Ju2L5hzWI">
</script>
{% endblock %}


{% block content %}

<div class="container">
  <h2>Find Providers</h2>
  <p>
    Fill in the form below to find providers within your location that accepts 
    your saved plans. 
  </p>
</div>

<!-- form to generate qualifying providers for user -->
<div class="container">
  <form action="/show_providers.json" method="GET" id="provider-form">
    <div class="sub-container">
      <label>* Plan Id</label>
        <p>
          Select from your saved plans or manually input plan id if you would like to find providers outside of 
          your saved plans.
        </p>
        <input list="plan-id" id="plan-id-options" name="plan-id-options"/>
        <datalist id="plan-id">
          <option value=""> --Please select a plan-- </option>
          {% for plan in plans %}
            <option value="{{ plan.plan.vericred_id }}">{{ plan.plan.vericred_id }}</option>
          {% endfor %}
        </datalist>
      </div>

    <div class="sub-container">
      <label>Zip Code</label>
      <p>
        Input location of your choice, otherwise it will default to your 
        registered zip code.
      </p>
      <input type="zipcode" name="zipcode">
    </div>

    <div class="sub-container">
      <label>* Radius</label>
      <select name="radius" required class="form-control">
        <option value=""> --Set your radius-- </option>
        <option value="5">5 miles</option>
        <option value="10">10 miles</option>
        <option value="15">15 miles</option>
        <option value="20">20 miles</option>
        <option value="25">25 miles</option>
        <option value="30">30 miles</option>
        <option value="35">35 miles</option>
      </select>
    </div>

    <div class="sub-container">
      <label>Choose Type of Provider</label>
        <select name="provider-type">
          <option value=""> --Please select provider type-- </option>
          <option value="individual">Individual</option>
          <option value="organization">Organization</option>
        </select>
    </div>

    <div class="sub-container">
      <label>Additional Search</label>
      <p>
        To find a specific provider or specialty, input their name or general 
        practice. (ie: Jane Doe ankle, if you want to find a podiatrist named 
        Jane Doe)
      </p>
      <input type="search-term" name="search-term">
    </div>
    <input type="submit" value="Find Provider" id="find-provider-btn">
  </form>
</div>

<div class="grid-x grid-margin-x">
   <!-- container to show provider information -->
    <div class="row cell small-6 offset-2"> 
      <div class="column"> 
        <ul class="accordion" data-accordion data-allow-all-closed="true" 
            id="display-providers">        
        </ul>
      </div>
    </div>
  <!-- display google maps here -->
  <div class="sub-container cell auto" id="map"></div>


</div>

<script src="/static/js/providers.js"></script>

{% endblock %}
