{% extends 'base.html' %}

{% block title %}
  Search for Plans
{% endblock %}



{% block content %}

<!-- <div class="grid-y medium-grid-frame"> -->
<div class="grid-x grid-padding-x">
  <div class="cell medium-12 medium-cell-block"> 
    <h3>Find Plans</h3>
    <p>
      Input your <em>age, child, and smoker</em> information to 
      get an estimated premium.
    </p>
  </div>
</div>

<form action="/show_plans.json" id="plan-form" method="GET">
  <div class="grid-x grid-padding-x">
    <div class="cell medium-3 medium-cell-block"> 
      <label>
        Plan Type
        <select name="plan-option" required="required">
          <option value=""> --Please select an option-- </option>
          <option value="medical">Medical</option>
          <option value="dental">Dental</option>
          <option value="vision">Vision</option>
        </select>
      </label>
    </div>

    <div class="cell medium-3 medium-cell-block">              
      <label>
        Age
        <select name="age">
          <option value=""> --Please select your age-- </option>
          {% for num in range(1, 66) %}
            <option value="{{ num }}">{{ num }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    <div class="cell medium-2">              
      <label>
        Smoker
      </label>
      <input type="radio" name="smoker" value="true">
      <label for="smoker" id="smoker">
        Yes
      </label>
      <input type="radio" name="smoker" value="false">
      <label for="non-smoker" id="non-smoker">
        No
      </label>
    </div>
    <div class="cell medium-2">   
      <span data-tooltip class="top" data-click-open="false" tabindex="2" 
            title="Is the applicant a minor (under age 18)">
        <label>
          Child
        </label>
      </span>           
      <br>
      <input type="radio" name="child" value="true">
      <label for="child" id="child">
        Yes
      </label>
      <input type="radio" name="child" value="false">
      <label for="non-child" id="non-child">
        No
      </label>
    </div>     

    <div class="cell medium-12 medium-cell-block">
      <button type="submit" id="submit-btn" class="hollow button">
        Search
      </button>
    </div>
  </div>
</form>

<div class="grid-x grid-padding-x align-center align-middle">
  <div class="cell medium-2" style="text-align: center;">
    <i class="fas fa-angle-left" id="click-previous-plans"></i>
  </div>
  <div class="cell medium-8 medium-cell-block-y" id="display-plans-div">  
    <form action="/save_plans" id="save-plans-form" method="POST">
      <fieldset>
        <div class="all-plans"></div>
      </fieldset>
      <button type="submit" id="save-plans-btn" class="hollow button">
        Save Plans
      </button>
    </form> 
  </div>
  <div class="cell medium-2" style="text-align: center;"">
    <i class="fas fa-angle-right" id="click-more-plans"></i>
  </div>
</div>

 
<script src="/static/js/plans.js"></script>

{% endblock %}
