{% extends 'base.html' %}

{% block title %}
  Profile
{% endblock %}


{% block content %}
<!-- <div class="grid-y medium-grid-frame"> -->
  <div class="grid-x grid-padding-x">
    <div class="cell medium-8" style="padding-left: 6%;">  
      <h3>Saved Plans</h3>
    </div>
    <div class="cell medium-3" style="padding-left: 6%;">  
      <h3>User Information</h3>
    </div>
  </div>

  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x align-center" style="min-height: 100%;">
      {% if plans|length %}

      <div class="cell medium-2">    
        <ul class="vertical tabs" data-active-collapse="true" data-tabs id="saved-plans-tabs">
      <!-- <div class="cell medium-8">     -->
        <!-- <ul class="tabs" data-active-collapse="true" data-tabs id="saved-plans-tabs"> -->
        {% for plan in plans %}
          <li class="tabs-title tab-{{ plan.vericred_id }}">
            <a href="#panel-plan-{{ loop.index  }}">
              Plan {{ loop.index }}
            </a>
          </li>
        {% endfor %}
        </ul>
    </div>

    <div class="cell medium-6">  
      <!-- <div class="cell medium-6">   -->
        <div class="tabs-content" data-tabs-content="saved-plans-tabs">

        {% for plan in plans %}
          <div class="tabs-panel tab-{{ plan.vericred_id }}" id="panel-plan-{{ loop.index }}">
            <table class="unstriped hover" id="table-{{ plan.vericred_id }}"> 
              <thead> 
                <tr> 
                  <th colspan="2" id="display-name">{{ plan.name }}</th> 
                </tr> 
              </thead> 
              <tbody> 
                <tr> 
                  <th>Plan ID</th> 
                  <td>{{ plan.vericred_id }}</td>
                </tr> 
                <tr>
                  <th>Carrier</th>
                  <td>{{ plan.carrier.name }}</td>
                </tr>
                <tr>
                  <th>Plan Type</th>
                  <td>{{ plan.plan_org }}</td>
                </tr>
                <tr>
                  <th>Primary Care Physician</th>
                  <td>{{ plan.p_cov.pcp }}</td>
                </tr>
                <tr>
                  <th>Specialist</th>
                  <td>{{ plan.p_cov.specialist }}</td>
                </tr>
                <tr>
                  <th>Emergency Room</th>
                  <td>{{ plan.p_cov.emerg_rm }}</td>
                </tr>
                <tr>
                  <th>Generic Drug</th>
                  <td>{{ plan.p_cov.gen_drug }}</td>
                </tr>
                <tr>
                  <th>Urgent Care</th>
                  <td>{{ plan.p_cov.urg_care }}</td>
                </tr>
                <tr>
                  <th>Individual Deductible</th>
                  <td>{{ plan.p_cov.med_deduct }}</td>
                </tr>
                <tr>
                  <th>Individual Max Out-of-Pocket</th>
                  <td>{{ plan.p_cov.med_moop }}</td>
                </tr>
              </tbody>
            </table>
            <button type="remove-plan" class="hollow button remove-plan"
                  id="{{ plan.vericred_id }}">Remove Plan</button>
          </div>
        {% endfor %}

      </div>
    </div>

    {% else %}
    <div class="cell medium-8">    
      <!-- <hr> -->
      <p class="no-saved-plans">
        Looks like you don't have any saved plans at the moment. 
      </p>
    </div> 
    {% endif %}
  


      <div class="cell medium-3">    
        <div class="user-info"> 
          <p>
            <i class="fas fa-envelope" style="padding-right: 10px;"></i>
            {{ user_dict.email}}
          </p>
          <p>
            <i class="fas fa-id-card-alt" style="padding-right: 10px;"></i>
            {{ user_dict.market.capitalize() }} market
          </p>
          <p>
            <i class="fas fa-home" style="padding-right: 10px;"></i>
            {{ user_dict.zip_code}}
          </p>
        </div>
        <hr style="width: 90%;">

        <p>
          Still deciding on a medical plan? Search for more plans to compare 
          benefits. 
        </p>
        <a href="/search_plans" class="hollow button">Find Plans</a>
        <br><br>
        <p>
          Search for providers that accepts the plan of your choice.
        </p>
        <a href="/get_providers" class="hollow button">Find Providers</a>
      </div>
    </div>
  </div>
<!-- </div> -->


<script src="/static/js/plans.js"></script>

{% endblock %}











  
 

