{% extends 'base.html' %}

{% block title %}
  Search for Plans
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!-- <script src="/static/js/script.js""></script> -->

{% endblock %}

{% block content %}
<div class="container">
  <h1>Welcome!</h1>
  <div class="sub-container">
    <table>
      <thead>
        <tr>
          <th colspan="2">Your User Info</th>
        </tr>
      </thead>
      <tbody>        
       {% for info in user_dict %}
        <tr>
          <td>{{ info.capitalize() }}: {{ user_dict[info] }}</td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="sub-container">
    <form action="/users/{{ user.user_id }}/show_plans" method="GET" id="form-plan-group">
      <label id="plan-type-field">Plan Type</label>
      <br>
      <select id="plan-type-field" name="option" required="required">
        <option value=""> --Please select an option-- </option>
        <option value="medical">Medical</option>
        <option value="dental">Dental</option>
        <option value="vision">Vision</option>
      </select>
      <input type="submit" value="Select">
    </form>
  </div>
</div>

<div class="container">
  <div>
    <span id="med-info"></span>
  </div>
</div>

<script src="/static/js/script.js"></script>

{% endblock %}

