{% extends 'base.html' %}

{% block title %}
  Search for Plans
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/static/js/script.js""></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Welcome!</h1>
  <div class="sub-container">
    <table>
      <thead>
        <tr>
          <th colspan="2">Your User Info</th>
        </tr>
      </thead>
      <tbody>        
       {% for info in user %}
        <tr>
          <td>{{ info }}: {{ user[info] }}</td>
        </tr>
       {% endfor %}
       </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

