{% extends 'base.html' %}

{% block title %}
  Search for Plans
{% endblock %}



{% block content %}
<div class="container">
  <h1>Welcome!</h1>
  <div class="sub-container">
    <table>
      <thead>
        <tr>
          <th colspan="2">Your User Info</th>
        </tr>
      </thead>
      <tbody>        
       {% for info in user_dict %}
        <tr>
          <td>{{ info.capitalize() }}</td>
          <td>{{ user_dict[info] }}</td>
        </tr>
       {% endfor %}
        <!-- <tr>
          <td>Plan Type</td>
          <pre id="plan-type"></pre>
        </tr> -->
      </tbody>
    </table>
  </div>

  <div class="sub-container plan-form">
    <form action="/user-{{ user.user_id }}/show_plans" id="type-form" 
                                                       method="POST">
      <label>Plan Type</label>
      <select name="plan-option" required="required">
        <option value=""> --Please select an option-- </option>
        <option value="medical">Medical</option>
        <option value="dental">Dental</option>
        <option value="vision">Vision</option>
      </select>
      <input type="submit" value="Select" id="submit-btn">
    </form>
  </div>
</div>


    <!-- incorporate <span> in ajax to change plan type (ie: med, dental) -->    

<div class="container" id="display-plans-div">
  <fieldset>
    <form action="/user-{{ user.user_id }}/saved_plans" id="save-plans-form" 
                                                        method="POST">
        <div class="indiv-plan"> 
        </div>
      <input type="submit" value="Save Plans">
    </form>
  </fieldset> 
</div>

<div class="container">
  <button id="click-more-plans" name="more-plans">View More</button>
</div>

<div class="container">
  <button id="click-previous-plans" name="previous-plans">View Previous</button>
</div>
{% endblock %}

